<div class="form-wrapper">
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="full-name">Full name</label>
        <input
          type="text"
          class="form-control"
          id="full-name"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
               userForm.controls['name'].touched &&
              userForm.controls['name'].errors,
          }"
        />
        <div
          *ngIf="
            userForm.controls['name'].touched &&
            userForm.controls['name'].errors
          "
          class="text-danger"
        >
          <div *ngIf="userForm.controls['name'].errors['required']">
            Full name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="age">Your age</label>
        <input
          type="number"
          class="form-control"
          id="age"
          formControlName="age"
          [ngClass]="{
            'is-invalid':
               userForm.controls['age'].touched &&
              userForm.controls['age'].errors,
          }"
        />
        <div
          *ngIf="
            userForm.controls['age'].touched && userForm.controls['age'].errors
          "
          class="text-danger"
        >
          <div *ngIf="userForm.controls['age'].errors['required']">
            Age is required
          </div>
          <div *ngIf="userForm.controls['age'].errors['min']">
            Age should be minimum 10 years
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
               userForm.controls['email'].touched &&
              userForm.controls['email'].errors,
          }"
        />
        <div
          *ngIf="
            userForm.controls['email'].touched &&
            userForm.controls['email'].errors
          "
          class="text-danger"
        >
          <div *ngIf="userForm.controls['email'].errors['required']">
            Email is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
