.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-block {
  border: 1px solid #c9c9c9;
  /* max-width: 700px; */
  margin-inline: auto;
  border-radius: 8px;
  padding-inline: 2em;
  padding-block: 4em;
  background: linear-gradient(120deg, #f8d253, #3eb25e);
}
input::placeholder {
  opacity: 0.6;
}
