<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome page</title>
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-12 col-md-6 col-lg-6">
            <div class="d-flex justify-content-center align-items-center">
              <img
                src="../../assets/welcome.svg"
                alt="welcome image"
                class="h-50"
              />
            </div>
          </div>
          <div class="col-6 col-sm-12 col-md-6 col-lg-6">
            <div
              class="d-flex flex-column justify-content-center align-items-center h-100"
            >
              <h1>Welcome</h1>
              <p>User research made easy and fun.</p>
              <button type="button" class="btn btn-success" routerLink="/users">
                View User Table
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
