<div class="table-wrapper">
  <div class="container">
    <div *ngIf="userData.length === 0" class="text-center">
      <p>
        You don't have any users. Click on the
        <span class="text-success font-weight-bold">"Add User"</span> button to
        add a user.
      </p>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nr</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.Name }}</td>
          <td
            [ngClass]="{
              'highlighted-green': user.Age >= 20 && user.Age <= 30,
              'highlighted-pink': user.Age > 30
            }"
          >
            {{ user.Age }}
          </td>
          <td>{{ user.Email }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success mb-5" routerLink="/add-user">
      Add User
    </button>
  </div>
</div>
